.project-description-img {
    width: 60%;
    height: 70%;
    object-fit: cover;
    object-position: 80% 10%;
    position: absolute;
}

.project-description-img-1 {
    left: 90px;
    bottom:0px;
    z-index:4;
    height: 55%;
}

.project-description-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #51724B;
}

.project-description-text-section {
    width: 50%;
}

.project-description-content {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;

}

.project-description-img-section {
    position: relative;
    width: 40%;
    overflow: hidden
}