.slick-next:before, .slick-prev:before {
    color: #FFC700;
}


/* .card-meal-container {
    padding: 0px calc((100% - 330px) / 2);
} */

@media (max-width: 750px) and (min-width:400px) {
    .card-meal-container {
        padding: 0px calc((100% - 330px) / 2);
    }
}

@media (min-width: 750px) and (max-width: 1080px) {
    .card-meal-container {
        padding: 0px calc((100% - 690px) / 2);
    }
}

@media (min-width: 1080px){
    .card-meal-container {
        padding: 0px calc((100% - 1000px) / 2);
    }
}