@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400px !important;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 400px !important;

}


h5 {
  font-size: 17px;
  font-weight: 400px !important;

}

h4 {
  font-size: 20px;
  font-weight: 400px !important;
}


h6 {
  font-size: 15px;
}

p {
  font-size: 16px;
}

li {
  font-size: 18px;
}

span {
  font-size: 12px;
}

section {
  padding: 90px 125px;
}

@media (min-width:1080px) {
  section {
    padding: 90px 125px;
  }
}

/* @media (min-width:800px) and (max-width:1080px) {
  
} */