.booking-section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    padding:90px 0;
}

.booking-content{
    max-width: 1030px;
    display: flex;
justify-content: space-between;}

.booking-text-section{
    width: 40%;
}
.booking-img{
 width: 50%;
 object-fit: cover;
 object-position: 20% center;
}