.specials-section{
    display: flex;
    justify-content: center;
    align-items:center;
background: #333333;}
.container-header{
    display:flex
}
.specials-content{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.specials-container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:33px;
}