.header{
    background: #333333;
    padding: 24px 0;
}

.nav {
    display: inline-flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
}

.nav-link{
    text-decoration: 'none';

}