.booking-form {
    display:flex;
    flex-direction: column;
    /* display: grid;
    gap: 40px; */
    padding:0px;
}

.booking-form-element {
    background: none;
    border: none;
    width: 100%;
    padding: 22px 22px 22px 125px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
}

.booking-form-element:focus {
    outline: none;
}

.booking-form-select {
    border: 0px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
    
}


.booking-form-date {
    border: 0px solid;
    border: none;
    background: none;
    padding: 22px 22px 22px 125px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
}

.booking-form-container-active {
    background: #EDEFEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0px solid;
    position: relative;
    height: 80px;
    margin-bottom:15px;
}

.booking-form-container-active:focus {
    outline: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    border: none;
    outline: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.booking-form-label {
    font-size: 18px;
    margin-bottom: 15px;
}

.booking-form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:22px;
    z-index: 4;
}


@media (min-width: 480px) and (max-width:800px) {
    .booking-form-icon{
        transform: scale(0.9) translateY(-52%);
        left: 28px;
    }
    .booking-form-element{
        padding: 21px 21px 21px 90px;
    }
}



@media (min-width: 280px) and (max-width:480px) {
    .booking-form-icon{
        transform: scale(0.8) translateY(-60%);
        left: 15px;
    }
    .booking-form-element{
        padding: 15px 15px 15px 80px;

    }
}

@media (max-width:280px) {
    .booking-form-icon{
        transform: scale(0.8) translateY(-60%);
        left: 10px;
    }
    .booking-form-element{
        padding: 13px 13px 13px 65px;
    }
}



