.password-reset-wrapper {
    background-color: #333333;
    min-height: 100vh;
    color:#EDEFEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-reset-container {
    max-width: 800px;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 25px;
}

.password-reset-button {
    width: fit-content;
}

.password-reset-input {
    border: none;
    height: 50px;
    margin-bottom: 20px;
    padding: 4px 9px;
    width:100%;
}

@media (min-width: 800px) {
    .password-reset-form { 
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }
    .password-reset-button {
        width: 100%;
    }

    .password-reset-container {
        width: 60%;
    }
}