.footer {
    width: 100%;
    padding: 45px 15%;
    background: #333333;
    color: #EDEFEE;
    bottom: 0;
}

.colunm h6 {
    margin-bottom: 10px;
}

.column span {
    display: block;
}

@media (min-width: 1280px) {
    .footer {
        padding: 45px 15%;
        display: inline-flex;
        justify-content: space-between;
    }
}

@media (min-width: 800px) and (max-width: 1280px) {
    .footer {
        padding: 45px 10%;
        display: inline-flex;
        justify-content: space-between;
    }
}

@media (min-width: 450px) and (max-width:800px) {
    .logo {
        width: 80%;
        margin: 0px 0px 5% 40%;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 35px 5%;
    }

    .column {
        flex-basis: 30%;
    }
}

@media (max-width:450px) {
    .footer {
        display: block;
        padding-left: 30%;
        /*very bad i dunnooooooo*/

    }
}

/* @media (width:450px) {
    .footer {
        width:100%
    }
} */