.testimonials-review-card-header-profile {
    display: flex;
    align-items: center;
}

.testimonials-avatar-img {
    height: 58px;
    width: 58px;
    object-fit: cover;
    border-radius: 58px;
}

.slick-next:before, .slick-prev:before {
    color:#FFC700;
}

.testimonials-review-card {
    padding: 28px;
    width: 320px !important;
    background: #333333;
    min-height: 350px;
    display: block!important;
    margin: 0 auto !important;
}

.testimonials-review-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.testimonials-person-name {
    color: white;
}

.testimonials-text-review {
    color: #EDEFEE;
}

.testimonials-content {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
}

.testimonials-section {
    display: flex;
    justify-content: center;
    align-items: center;
}




.testimonials-card-section {
    padding: 0px calc((100% - 330px) / 2);
}

@media (max-width: 750px){
    .testimonials-card-section {
        padding: 0px calc((100% - 330px) / 2);
    }
}

@media (min-width: 750px) and (max-width: 1080px) {
    .testimonials-card-section {
        padding: 0px calc((100% - 690px) / 2);
    }
}

@media (min-width: 1080px){
    .testimonials-card-section {
        padding: 0px calc((100% - 1000px) / 2);
    }
}



@media (max-width: 350px){
    .testimonials-review-card {
        padding: 22px;
        width: 100%!important;
        height:unset!important;
    }

    .testimonials-avatar-img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 45px;
    }

}
